body {
background-color: lightgray;
}
input {
font-size: 30px;
width : 200px;
}
button {
display: block;
  margin: 0 auto;	
}
.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;             
}
